* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Varela Round', sans-serif;
}

/*
=
=
=
=
=
=
=
=
===========================(global)*/

.container {
    width: 80%;
    margin: auto;
}

.clear {
    clear: both;
}

/*
=
=
=
=
=
=
=
=
===========================(header)*/

.header {
    background-color: #777;
}

.header_content {
    overflow: hidden;
}

.header .logo {
    width: 40%;
    float: left;
}

.header .logo img {}

.header .nav {
    width: 60%;
    float: left;
    list-style: none;
}

.header .nav li {
    display: inline-block;
}

.header .nav li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 30px 15px;
}

/*
=
=
=
=
=
=
=
=
===========================(Home)*/