:root {
    --main-color: #6195ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Varela Round', sans-serif;
}

/*
=
=
=
=
=
=
=
=
===========================(global)*/

.container {
    width: 80%;
    margin: auto;
}

.clear {
    clear: both;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: monospace, sans-serif;
}

button {
    font-family: inherit;
}

.hover_opacity {
    transition: opacity 0.5s;
}

.hover_opacity:hover {
    opacity: 0.8;
}

a {
    text-decoration: none;
}

.pd_y {
    padding: 120px 0;
}

/*
=
=
=
=
=
=
=
=
===========================(componants)*/

/* heading */
.heading {
    text-align: center;
    margin-bottom: 20px;
}

.heading_h2 {
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.heading_span {
    display: block;
    height: 5px;
    width: 60px;
    margin: 0 auto 70px auto;
    background-color: var(--main-color);
}


/* left_effect */
.left_effect {
    position: relative;
}

.left_effect::after {
    content: '';
    position: absolute;
    width: 100%;
    width: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333;
    z-index: -1;
    transition: width 0.5s;
}

.left_effect:hover::after {
    width: 100%;
}

/*
=
=
=
=
=
=
=
=
===========================(header)*/

.header {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.header_logo {
    width: 40%;
    float: left;
}

.header_logo img {
    width: 20%;
    margin-top: 15px;
}

.header_nav {
    width: 60%;
    float: left;
    list-style: none;
    text-align: right;
}

.header_nav>li {
    display: inline-block;
    text-align: right;
}

.header_nav>li>a {
    color: #fff;
    display: block;
    padding: 30px 10px;
    font-size: 15px;
}

.header_nav>li>a.active::after,
.header_nav>li>a::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    margin-top: 2px;
    background-color: var(--main-color);
    transition: width 0.5s;
}

.header_nav>li>a.active::after {
    width: 100%;
}

.header_nav>li>a::after {
    width: 0;
}

.header_nav>li>a:hover::after {
    width: 100%;
}

.dropdown_li {
    position: relative;
}

.dropdown_menu {
    position: absolute;
    background-color: var(--main-color);
    width: 150px;
    text-align: center;
    left: -50%;
    top: 70%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
}

.dropdown_li:hover .dropdown_menu {
    opacity: 1;
    visibility: visible;
}

.dropdown_menu a {
    color: #fff;
    display: block;
    padding: 10px;
}


/*
=
=
=
=
=
=
=
=
===========================(Home)*/
.home {
    height: 100vh;
    background-image: url(../images/background/background1.webp);
    background-position: center;
    background-size: cover;
    position: relative;
}



.home_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 65%;
}

.home_title {
    color: #fff;
    font-size: 3.5rem;
    text-transform: uppercase;
}

.home_desc {
    margin: 20px 0;
    color: #fff;
    letter-spacing: 2px;
    line-height: 1.5;
}

.home .btn {
    min-width: 160px;
    padding: 15px 0;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    font-size: 18px;
}

.btn_started {
    margin-right: 10px;
    background-color: #fff;
}

.btn_lern {
    background-color: var(--main-color);
    color: #fff;
}

/*
=
=
=
=
=
=
=
=
===========================(about)*/

.about_container {
    overflow: hidden;
}

.about_item {
    width: 30%;
    float: left;
    text-align: center;
    border: 1px solid #e8e8e8;
    padding: 50px 20px;
}


.about_item.mg {
    margin: 0 5%;
}

.about_icon {
    color: var(--main-color);
    margin-bottom: 10px;
}

.about_h2 {
    text-transform: capitalize;
    margin-bottom: 10px;
    transition: color 0.5s;
}

.about_item:hover .about_h2 {
    color: #fff;
}

.about_p {
    line-height: 1.6;
    margin-bottom: 10px;
    color: #999;
}

.about_link {
    color: var(--main-color);
    text-transform: capitalize;
}

/*
=
=
=
=
=
=
=
=
===========================(portfolio)*/
.portfolio {
    background-color: #f9f9f9;
}

.portfolio .container {
    overflow: hidden;
}

.portfolio_item {
    width: 32%;
    float: left;
    margin-bottom: 25px;
    position: relative;
    padding: 20px;
}

.portfolio_item.mg {
    margin: 0 2%;
}

.portfolio_item img {
    width: 100%;
    max-width: 100%;
}

.portfolio_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.portfolio_item:hover .portfolio_overlay {
    opacity: 1;
    visibility: visible;
}

.portfolio_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
}

.portfolio_span {
    color: var(--main-color);
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
}

.portfolio_h3 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
}

.portfolio_icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: var(--main-color);
    color: #fff;
    cursor: pointer;
}

.portfolio_span,
.portfolio_h3,
.portfolio_icon {
    position: relative;
    top: 20px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.portfolio_item:hover .portfolio_span,
.portfolio_item:hover .portfolio_h3,
.portfolio_item:hover .portfolio_icon {
    top: 0;
    opacity: 1;
    visibility: visible;
}