/*
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
================== (globals) ================== */

* {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

body {
    font-family: 'PT Sans', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.sections_padding {
    padding: 40px 0;
}