    /*
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    ================== (category) ================== */

    // 001.==================
    .category {
        // ==================
        // ==================

        // 002.==================
        .container {
            // ==================
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
            // ==================

            // 003.==================
            .item {
                // ==================
                position: relative;
                // ==================

                // 004.==================
                img {
                    // ==================
                    width: 100%;
                    margin-bottom: 25px;
                    // ==================
                }

                // 004.==================
                h4 {
                    // ==================
                    color: gray;
                    font-weight: normal;
                    // ==================
                }

                // 004.==================
                i {
                    // ==================
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    // ==================
                    display: block;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    // ==================
                    background-color: $main-color;
                    color: #fff;
                    // ==================
                    text-align: center;
                    // ==================
                    transition: 0.3s;
                    // ==================
                }

            }
        }
    }

    /*
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    ================== (discount) ================== */

    // 001.==================
    .discount {
        // ==================
        margin: 30px 0;
        // ==================

        // 002.==================
        .container {
            // ==================
            display: flex;
            // ==================

            // 003.==================
            .content {
                // ==================
                position: relative;
                // ==================
                flex: 2;
                // ==================
                padding: 20px;
                // ==================
                background-color: #f7f3ef;
                // ==================

                // 004.==================
                .top {
                    // ==================
                    position: relative;
                    padding-left: 60px;
                    margin-bottom: 20px;
                    // ==================

                    // 005.==================
                    i {
                        // ==================
                        position: absolute;
                        top: 0;
                        left: 0;
                        // ==================
                        color: $main-color;
                        // ==================
                        font-size: 50px;
                        // ==================
                    }
                }

                // 004.==================
                p {
                    // ==================
                    line-height: 1.7;
                    // ==================
                }

                // 004.==================
                .bolletes {
                    // ==================
                    position: absolute;
                    bottom: 20px;
                    right: 20px;
                    // ==================
                    text-align: right;
                    // ==================

                    // 005.==================
                    span {
                        // ==================
                        display: inline-block;
                        width: 50px;
                        height: 2px;
                        background-color: $main-color;
                        margin-left: 10px;
                        // ==================
                    }
                }
            }

            // 003.==================
            .img-01 {
                // ==================
                flex: 1;
                // ==================
                height: 300px;
                margin: 0 20px;
                // ==================
                background-image: url(../images/cms-banner-1.jpg);
                background-size: cover;
                // ==================
            }

            // 003.==================
            .img-02 {
                // ==================
                flex: 1;
                // ==================
                height: 300px;
                // ==================
                background-image: url(../images/cms-banner-2.jpg);
                background-size: cover;
                // ==================
            }

            // 003.==================
            .images {
                // ==================
                position: relative;
                // ==================
                transition: 0.3s;
                // ==================

                &:hover {
                    transform: scale(1.1);
                }

                // 004.==================
                .info {
                    // ==================
                    position: absolute;
                    top: 20px;
                    left: 15px;
                    // ==================

                    // 005.==================
                    h3 {
                        // ==================
                        font-weight: normal;
                        color: $main-color;
                        // ==================
                    }

                    // 005.==================
                    h2 {
                        // ==================
                        font-size: 20px;
                        // ==================
                    }
                }
            }
        }
    }