.container {
    width: 400px;
    height: 400px;
    background-color: #808080;

    display: grid;
    justify-items: center;
    align-items: center;
}

.item {
    width: 100px;
    height: 100px;
    background-color: #080;

    margin: auto;
}