body {
    height: 5000px;
}

.form_01 input[type="text"] {
    background-color: #f00;
    border: 0;
}

.form_01 input[type="password"] {
    background-color: #f0f;
    border: 0;
}

* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
}

.navbar h2 {
    font-size: 22px;
    color: #fff;
    width: 20%;
    /* background-color: #f00; */
    float: left;
}

.navbar>ul {
    list-style: none;
    width: 80%;
    /* background-color: #080; */
    float: left;
}

.navbar>ul li {
    display: inline-block;
    width: 100px;
}

.navbar>ul li a {
    color: #fff;
    text-decoration: none;
    padding: 8px;
    display: block;
}

.clear {
    clear: both;
}

.navbar>ul li {
    position: relative;
}

.navbar>ul li ul {
    background-color: #f00;
    position: absolute;
    display: none;
}

.navbar>ul li a:hover+ul {
    display: block;
}

.form_02 input,
.form_02 select {
    display: block;
    width: 100%;
}

.form_02 input:focus {
    background-color: #f00;
}

.ul_item {
    padding: 20px;
    list-style: none;
}

.ul_item li {
    /* vertical-align: middle; */
}

.ul_item li::before {
    content: '';
    width: 5px;
    height: 5px;
    background-color: #00f;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.parent {
    font-size: 10px;
}

.parent .child {
    background-color: #f00;
    width: 50vw;
}

html {
    font-size: 16px;
}

.img_link img {
    width: 300px;
}

p.item_00 {
    color: palevioletred;
}

.local {
    color: #00f;
}

#deom {
    color: #ff0;
}