    /*
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    =
    ================== (category) ================== */

    // 001.==================
    .heading {
        // ==================
        margin-bottom: 25px;
        // ==================
        text-align: center;
        // ==================

        &:hover .line {
            width: 150px;
        }

        // 002.==================
        .title {
            // ==================
            margin-bottom: 10px;
            // ==================
            font-size: 30px;
            // ==================

        }

        // 002.==================
        .line {
            // ==================
            display: block;
            // ==================
            width: 100px;
            height: 2px;
            margin: auto;
            // ==================
            background-color: $main-color;
            // ==================
            transition: 0.3s;
            // ==================
        }
    }